@page
@model IndexModel

<h2 class="page-title">Posts</h2>

@if(!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
        @Model.Message
    </div>
}

@if(!Model.HasPosts)
{
    @:There aren't any posts yet! Why don't you write a <a asp-page="New">new post</a>?
}
else
{
    <form method="post">
    <table class="table posts-table">
        <thead>
            <tr>
                <th class="posts-table__title-header">Title</th>
                <th>Updated</th>
                <th>Published</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var post in Model.Posts)
            {
                <tr>
                <td class="posts-table__title-cell"><a asp-page="Edit" asp-route-slug="@post.Slug">@post.Title</a></td>
                <td>@post.Updated.ToString("MM/dd/yyyy")</td>
                <td>
                    @if(post.Published == null)
                    {
                        <i>unpublished</i>
                    }
                    else
                    {
                        @post.Published.Value.ToString("MM/dd/yyyy");
                    }
                </td>
                <td><button asp-page-handler="Delete" asp-route-id="@post.Id" class="button button-small">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>

    <ul class="pagination">
        @if(Model.Paginator.PageCount > 1)
        {
            string prevDisabled = "pagination__link--disabled";
            string nextDisabled = "pagination__link--disabled";

            if(Model.Paginator.PreviousPage != null) { prevDisabled = ""; }
            if(Model.Paginator.NextPage != null) { nextDisabled = ""; }

            <li class="pagination__item">
                <a asp-route-pageNum="@Model.Paginator.GetRoutingPageNum(Model.Paginator.PreviousPage)" class="pagination__link @prevDisabled">&laquo;</a>
            </li>

            @foreach(var pageNum in Model.Paginator.GetPagedList())
            {
                <li class="pagination__item">
                    <a asp-route-pageNum="@Model.Paginator.GetRoutingPageNum(pageNum)" class="pagination__link" highlight-active css-active-class="pagination__link--current-page">@pageNum</a>
                </li>
            }

            <li class="pagination__item">
                <a asp-route-pageNum="@Model.Paginator.NextPage" class="pagination__link @nextDisabled">&raquo;</a>
            </li>
        }
    </ul>

    </form>
}
