@page
@model IndexModel

<h2 class="page-title">Posts</h2>

@if(!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
        @Model.Message
    </div>
}

@if(!Model.HasPosts)
{
    @:There aren't any posts yet! Why don't you write a <a asp-page="New">new post</a>?
}
else
{
    <form method="post">
    <table class="table posts-table">
        <thead>
            <tr>
                <th class="posts-table__title-header">Title</th>
                <th>Updated</th>
                <th>Published</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var post in Model.Posts)
            {
                <tr>
                <td class="posts-table__title-cell"><a asp-page="Edit" asp-route-slug="@post.Slug">@post.Title</a></td>
                <td>@post.Updated.ToString("MM/dd/yyyy")</td>
                <td>
                    @if(post.Published == null)
                    {
                        <i>unpublished</i>
                    }
                    else
                    {
                        @post.Published.Value.ToString("MM/dd/yyyy");
                    }
                </td>
                <td><button asp-page-handler="Delete" asp-route-id="@post.Id" class="button button-small">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
    </form>
}
