@model blog.Models.Post
@using blog.Services

<article class="post">
    <header class="post__header">
        <h2 class="post__title"><a href="~/@Model.Slug">@Model.Title</a></h2>
        <div class="post__meta">
            <time datetime="@Model.Published.Value.ToString("yyyy-MM-dd")">@Model.Published.Value.ToString("D")</time>

            <div class="tags">
                @for(int i = 0; i < Model.PostTags.Count; i++)
                {
                    <span class="tags__item">@Model.PostTags.ElementAt(i).Tag.Name</span>

                    @if (i != Model.PostTags.Count - 1) {
                        <span>//</span>
                    }
                }
            </div>
        </div>
    </header>

    <div class="post__body">
        @MarkdownRenderer.RenderMarkdown(Model.Body)
    </div>
</article>
