@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach(var post in Model.Posts)
{
    <div class="blog-post">
        <h3><a href="@post.Slug">@post.Title</a></h3>

        <div>
            <div>@post.Author.UserName</div>
            <div>@post.Created.ToString("G")</div>
            <div>
                @if(post.PostTags.Any())
                {
                    @post.PostTags.Select(x => x.Tag.Name).Aggregate((list, tagName) => list + "," + tagName)
                }
            </div>
        </div>

        <div>
            @post.Body
        </div>
    </div>
}
