@page
@model IndexModel
@using blog.Services

@{
    ViewData["Title"] = "Home page";
}

@foreach(var post in Model.Posts)
{
    @Html.Partial("_Post", post)
}

<hr />

@Model.Paginator.PreviousPage


<nav class="paging-nav">

    @if(Model.Paginator.PreviousPage != null)
    {
        <a asp-page="Index" asp-route-pageNum="@Model.Paginator.GetRoutingPageNum(Model.Paginator.PreviousPage)" asp-route-pagingSegment="@Model.Paginator.PreviousPagePagingSegment" class="paging-nav paging-nav--newer">Newer Posts</a>
    }

    @if(Model.Paginator.NextPage != null)
    {
        <a asp-page="Index" asp-route-pageNum="@Model.Paginator.NextPage" asp-route-pagingSegment="@Model.Paginator.NextPagePagingSegment" class="paging-nav paging-nav--older">Older Posts</a>
    }

</nav>

<hr />

@section Scripts {
    <script src="~/lib/prism/prism.js"></script>
    <link rel="stylesheet" href="~/lib/prism/prism.css" />
}
