@page
@model IndexModel
@using blog.Services

@{
    ViewData["Title"] = "Home page";
}

@foreach(var post in Model.Posts)
{
    <div class="blog-post">
        <h3><a href="@post.Slug">@post.Title</a></h3>

        <div>
            <div>@post.Author.UserName</div>
            <div>@post.Created.ToString("G")</div>
            <div>
                @if(post.PostTags.Any())
                {
                    @post.PostTags.Select(x => x.Tag.Name).Aggregate((list, tagName) => list + "," + tagName)
                }
            </div>
        </div>

        <div>
            @MarkdownRenderer.RenderMarkdown(post.Body)
        </div>
    </div>
}

@if(Model.PageNum > 1)
{
    <a asp-page="Index" asp-route-pageNum="@Model.NewerPageNum" asp-route-pagingSegment="@Model.NewerPagingSegment">Newer Posts</a>
}

@if(Model.PageNum < Model.PageCount)
{
    <a asp-page="Index" asp-route-pageNum="@Model.OlderPageNum" asp-route-pagingSegment="@Model.OlderPagingSegment">Older Posts</a>
}
