@page
@model IndexModel
@using blog.Services

@{
    ViewData["Title"] = "Home page";
}

@foreach(var post in Model.Posts)
{
    @Html.Partial("_Post", post)
}

<hr />

<nav class="paging-nav">
    <ul class="paging-nav__list">
        <li>
            @if(Model.Paginator.PreviousPage != null)
            {
                <a asp-page="Index" asp-route-pageNum="@Model.Paginator.GetRoutingPageNum(Model.Paginator.PreviousPage)" asp-route-pagingSegment="@Model.Paginator.PreviousPagePagingSegment" class="paging-nav__link paging-nav__link--newer">Newer Posts</a>
            }
        </li>
        <li>
            <a asp-page="Archive" class="paging-nav__link">Archive</a>
        </li>
        <li>
            @if(Model.Paginator.NextPage != null)
            {
                <a asp-page="Index" asp-route-pageNum="@Model.Paginator.NextPage" asp-route-pagingSegment="@Model.Paginator.NextPagePagingSegment" class="paging-nav__link paging-nav__link--older">Older Posts</a>
            }
        </li>
    </ul>
</nav>

<hr />

@section Scripts {
    <script src="~/lib/prism/prism.js"></script>
    <link rel="stylesheet" href="~/lib/prism/prism.css" />
}
